$fontColor: white;

section {
    background-color: #121212;
    padding-bottom: 50px;
}
.contentContainer {
    padding-top: 125px;
    display: flex;

    .mainContentContainer {
        padding: 25px;
        h1 {
            color: $fontColor;
        }

        h1:first-child {
            font-size: 42px;
        }

        .altMessage {
            font-size: 24px;
        }

        .gameName {
            font-size: 72px;
            color: $fontColor;
        }

    }

    @media (max-width: 1200px)
    {
        .mainContentContainer {
            text-align: center;
        }
    }

    .bannerContentContainer {
        padding: 25px;

        .sliderLogos {
            overflow: hidden;
            width: 100%;
        }
        
        @media (max-width: 1200px)
        {
            .sliderLogos {
                width: 100%;
            }
        }

        .awssld {
            --loader-bar-color: none;
        }
        .awssld__content {
            background-color: transparent !important;
        }

        
    }
}

.secondSection {
    background-color: white;
    display: flex;
    padding: 50px;
    
    .altContentContainer {
        h3 {
            text-align: center;
            color: #3c4858;
            font-size: 28px;
        }
        
        .listContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 75px;
        }

        .card {
            padding: 15px;
            padding-bottom: 50px;

            .card-text {
                color: #8492a6;
            }
        }
    }
}