$breakPoint-Tablet: 995px;
$breakPoin-Mobile: 620px;

header {
  background-color: transparent;

  .logoContent {
     margin-top: 15px;
    img {
      max-width: 225px;
    }
  }
  
  .mobileHeaderContent {
    display: none !important;
    flex-direction: row-reverse;
    align-items: center;
  }
  @media (max-width: $breakPoint-Tablet) {
    .mobileHeaderContent {
      display: flex !important;
    }

    .headerContent {
      display: none !important;
    }
  }

  .headerContent {
    margin-top: 15px;
    display: flex;
    flex-direction: row-reverse;

    div {
      margin-left: 15px;
    }

    Button {
      padding: 10px 25px;
      border-radius: 30px;

      SVG {
        margin: 5px;
      }
    }

    .languageOptions {
      display: block;
      ul {
        margin: 15px;

        li {
          float: left;
          padding-right: 15px;
        }
        li:hover {
          cursor: pointer;
        }
      }
    }
  }
}
