header {
  background-color: transparent;

  .headerContent {
    margin-top: 15px;
    display: flex;
    flex-direction: row-reverse;

    div {
      margin-left: 15px;
    }

    Button {
      padding: 10px 25px;
      border-radius: 30px;

      SVG {
        margin: 5px;
      }
    }

    .languageOptions {
      display: block;
      ul {
        margin: 15px;

        li {
          float: left;
          padding-right: 15px;
        }
        li:hover {
          cursor: pointer;
        }
      }
    }
  }
}
